/* html {
  scroll-behavior: smooth;
} */

.list {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  background: grey;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  line-height: 100px;
}

.list-big {
  height: 800px;
}

.thin-red-line {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  border: 1px solid #ff5346;
}

button {
  margin-bottom: 80px;
}